.background {
  background-color: #A3BE9D;
}

.colour_1 {
  background-color: #CFE8C8;
}

.colour_2 {
  background-color: #A8CFC2;
}

.colour_3 {
  background-color: #7CA8AB;
}

.colour_4 {
  background-color: #4F6C7B;
}

.colour_5 {
  background-color: #2C4356;
}

.colour_6 {
  background-color: #1F3040;
}

.colour_7 {
  background-color: #1A2733;
}

